{% extends 'base.html' %}

{% block title %}Editar Item - {{ item.nome }}{% endblock %}

{% block content %}
<style>
    .btn-submit {
        background-color: #007bff; /* Cor de fundo azul */
        color: white; /* Cor do texto branco */
        border: none; /* Sem borda */
        padding: 10px 20px; /* Espaçamento interno */
        text-decoration: none; /* Sem sublinhado */
        font-size: 16px; /* Tamanho da fonte */
        cursor: pointer; /* Cursor de ponteiro ao passar o mouse */
        border-radius: 5px; /* Borda arredondada */
        display: inline-block; /* Garante que o botão respeite o tamanho do conteúdo */
        text-align: center; /* Centraliza o texto */
        margin-right: 10px; /* Margem à direita para separação dos botões */
    }

    .btn-submit:hover {
        background-color: #0056b3; /* Cor de fundo azul mais escura ao passar o mouse */
    }

    .btn-cancel {
        background-color: #dc3545; /* Cor de fundo vermelha */
        color: white; /* Cor do texto branco */
        border: none; /* Sem borda */
        padding: 10px 20px; /* Espaçamento interno */
        text-decoration: none; /* Sem sublinhado */
        font-size: 16px; /* Tamanho da fonte */
        cursor: pointer; /* Cursor de ponteiro ao passar o mouse */
        border-radius: 5px; /* Borda arredondada */
        display: inline-block; /* Garante que o botão respeite o tamanho do conteúdo */
        text-align: center; /* Centraliza o texto */
    }

    .btn-cancel:hover {
        background-color: #c82333; /* Cor de fundo vermelha mais escura ao passar o mouse */
    }
</style>

<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Atualizar" class="btn-submit">
    <a href="{% url 'ItensList' %}" class="btn btn-cancel">Cancelar</a>
</form>
{% endblock %}