{% extends 'base.html' %}

{% block title %}Itens{% endblock %}

{% block content %}
    <style>
        
    </style>

    <form method="GET" action="">
        <input type="text" name="q" placeholder="Pesquisar...">
        <button type="submit">Pesquisar</button>
    </form>

    <div class="item-container">
        {% if not itens %}
            <p>Nenhum item encontrado</p>
        {% else %}
            {% for item in itens %}
                <div class="item">
                    <h2>{{ item.nome }}</h2>
                    <p><strong>Tipo:</strong> {{ item.tipo }}</p>
                    <p><strong>Descrição:</strong> {{ item.descricao }}</p>
                    {% if user.is_authenticated %}
                        <p><strong>Contato:</strong> {{ item.contato }}</p>
                    {% else %}
                        <p><strong>Contato: Faça login para desbloquear</strong></p>
                    {% endif %}
                    {% if item.foto %}
                        <div class="foto">
                            <img src="{{ item.foto.url }}" alt="Imagem do item">
                        </div>
                    {% endif %}
                    {% if is_funcionario %}
                        <form action="{% url 'DeleteItem' item.id %}" method="post" style="display: inline;">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger">Deletar</button>
                        </form>
                        <a href="{% url 'EditItem' item.id %}" class="btn btn-primary">Editar</a>
                    {% endif %}
                </div>
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}